[submodule "src/github.com/markstgodard/gofer"]
	path = src/github.com/markstgodard/gofer
	url = https://github.com/markstgodard/gofer
[submodule "src/github.com/markstgodard/go-neutron"]
	path = src/github.com/markstgodard/go-neutron
	url = https://github.com/markstgodard/go-neutron
[submodule "src/github.com/containernetworking/cni"]
	path = src/github.com/containernetworking/cni
	url = https://github.com/containernetworking/cni
[submodule "src/github.com/markstgodard/go-keystone"]
	path = src/github.com/markstgodard/go-keystone
	url = https://github.com/markstgodard/go-keystone
